section {
  background-color: #508bfc;
  background-image: url("../img/flag_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 23.5vh;
}
