@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Secular+One&display=swap");

/* Main Navigation */
.main-nav {
  /* height: 10vh; */
}

/* Main Container */
.main-container {
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(camo.jpg);
  /* background: url(army-bg.jpeg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  /* background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147)); */
  font-family: "League Spartan", sans-serif;
  font-family: "Secular One", sans-serif;
}

/* Container Buttons */
.main-container-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main-container-buttons button {
  font-size: 1.5em;
  padding: 1em 1.5em;
  width: 250px;
}

/* Main Button */
.main-btn {
  font-size: 5em;
  padding: 1em 1.5em;
}

/* Glass Panel */
.glass-panel {
  color: #000;
  margin: 40px auto;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  padding: 2em;
  backdrop-filter: blur(10px);
  font-size: 4em;
  /* color: white; */
}

/* Container Boxes */
.container-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}

.container-boxes .box {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* Footer */
footer {
  color: white;
  background-color: #000;
}
